

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f8f9fb;
}

.container {
    display: flex;
    width: 100%;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #ffffff;
    color: #4b5d72;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color:#4f46e5;
}

.sidebar nav ul {
    list-style: none;
    padding-top: 20px;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.sidebar nav ul li a.active,
.sidebar nav ul li a:hover {
    background-color: #6c63ff;
}
.logout {
    
    background-color: #f84040;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 100%; 
}
/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom:1px solid black;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 10px;
}

.user-info span {
    font-weight: bold;
    margin-right: 20px;
}
/* ------------------------------------------- */
.student-management-container {
    margin-top: 20px;
    overflow-x: auto;
}

.student-management-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    border-radius: 10px;
}

.student-management-table th,
.student-management-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.student-management-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.student-management-table td {
    vertical-align: middle;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

.actions button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.actions button.delete {
    background-color: #f44336;
}
