#add-course {
    background: #4a90e2;
    color: white;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    padding: 5px 10px;
}

#add-course img {
    width: 32px;
    margin-right: 5px;
}

#delete-course {
    color: red;
    display: flex;
    align-items: center;
}

#delete-course img {
    padding-right: 10px;
    width: 32px;
}

#delete-course:hover {
    box-shadow: 0 1px 10px rgba(255, 0, 0, 0.3);
}

table {
    margin-top: 20px;
    overflow: auto;
}
