body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: white;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    width: 500px;
    text-align: center;
}

table {
    width: 100%;
    box-shadow: none;
}

td {
    padding: 2px 0;
    vertical-align: center;
    border: none;
}

td:first-child {
    width: 40%;
    color: #2c3e50;
}

select {
    width: 100%;
}

tr {
}
