body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: white;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    width: 500px;
    text-align: center;
}

table {
    width: 100%;
    box-shadow: none;
}

td {
    padding: 2px 0;
    vertical-align: center;
    border: none;
}

td:first-child {
    width: 40%;
    color: #2c3e50;
}

select {
    width: 100%;
}

#have-account-container {
    margin-top: 20px;
}

#have-account-container span {
    color: gray;
}

#have-account-link {
    margin-left: 10px;
}

.validation-error {
    visibility: hidden;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid red;
    position: absolute;
    padding: 5px;
    background: white;
}

.show-validation-error {
    visibility: visible;
}