#approve-instructor {
    display: inline-flex;
    align-items: center;
    background: #4a90e2;
    color: white;
}

#approve-instructor img {
    padding-right: 10px;
    width: 32px;
}

#reject-instructor {
    color: red;
    display: inline-flex;
    align-items: center;
}

#reject-instructor img {
    padding-right: 10px;
    width: 32px;
}

#reject-instructor:hover {
    box-shadow: 0 1px 10px rgba(255, 0, 0, 0.3);
}