.search-bar {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px 0;
}

.search-bar search {
    width: 100%;
    margin: 0 20px 0 0;
    box-sizing: border-box;
}

#user-action {
    color: red;
    display: inline-flex;
    align-items: center;
}

#user-action img {
    padding-right: 10px;
    width: 32px;
}

#user-action:hover {
    box-shadow: 0 1px 10px rgba(255, 0, 0, 0.3);
}